<%= link_to '#', :class => 'btn btn-default btn-open-dialog pull-right btn-login', :data => {:dailog => 'main-login-form'} do %>
<span class='glyphicon glyphicon-user'></span> Login
<% end %>
<%= form_for("user", :url => user_session_path, :html => {:class => 'login-form form-horizontal dialog', :id => 'main-login-form'}) do |f| %>
  <div class="form-group">
    <%= f.label :email, :class => 'col-lg-4 control-label' %>
    <div class="col-lg-8">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, :class => 'col-lg-4 control-label' %>
    <div class="col-lg-8">
      <%= f.password_field :password, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-8">
      <div class="checkbox">
        <label>
          <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %> Remember me
          <% end %>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-8">
      <%= f.submit 'Sign in', :class => 'btn btn-default' %>
    </div>
  </div>
  <%= link_to "Forgot your password?", new_password_path('user'), :class => 'col-lg-offset-4' %>
  <hr>
  <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-signin-with-facebook" do %>
  <%= image_tag "/images/facebook_sign_in.png", :alt => "Sign in with Facebook" %>
  <% end %>
  
  <%= link_to "#", :class => 'btn-close-dialog' do %>
    <span class="glyphicon glyphicon-remove-circle"></span>
  <% end %>
<% end %>