<% unless notice.blank? %>
<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<h2>Order detail:</h2>
  
<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Shipping address:</strong>
  <div>
    <%= @order.shipping_address.ship_to %> <br>
    <%= @order.shipping_address.address %> <br>
    <%= @order.shipping_address.city %>, <%= @order.shipping_address.state %> <%= @order.shipping_address.zip %>
  </div>
</p>

<p>
  <strong>Order created at:</strong>
  <div>
    <%= @order.created_at.localtime %> <br>
  </div>
</p>
<p>
  <strong>Cart:</strong>
  <table class="table">
  
  <% @order.cart.cart_items.each do |c_item| %>
    <tr>
      <td><%= c_item.item.title %></td>
      <td><%= c_item.item.price %></td>
      <td><%= link_to "Detail", item_path(c_item.item) %></td>
    </tr>
  <% end %>
  </table>

</p>
<%= link_to 'Back', orders_path %>
