<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shipping_address.user_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shipping_address.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shipping_address.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @shipping_address.zip %>
</p>

<p>
  <strong>Note:</strong>
  <%= @shipping_address.note %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @shipping_address.primary %>
</p>

<%= link_to 'Edit', edit_shipping_address_path(@shipping_address) %> |
<%= link_to 'Back', shipping_addresses_path %>
