<% tab "items" %>

<% @items.each do |item| %>
  <div class="item col-lg-3">
    <%= image_tag item.cover_image, alt: "Cover image of #{item.title}" %>
    <h2><%= item.title %></h2>
    <span class="briefing"><%= item.briefing %></span>
    <span class="price">$ <%= item.price %></span>
    
    <div class="links">
      <%= link_to carts_path(:item_id => item.id, :format => :json), :method => 'post', :remote => true, :class => 'btn btn-sm btn-primary pull-right' do %>
        <span class="glyphicon glyphicon-ok"></span> AddToCart
      <% end %>
    </div>
  </div>
<% end %>

<div class="clearfix">&nbsp;</div>
